html, body, div {
    margin: 0;
    padding: 0;
}

h1 {
  text-align: center;
}

table {
  position: relative;
  border-collapse: collapse;
  border-spacing: 0px;
  margin: 6em auto;
  width: 432px;
  height: 432px;
  padding: 0;
  border:0px;
}

td, tr {
  border: 0;
  padding: 0;
}


.mydiv {
  width: 144px;
  height: 144px; 
}


#a2, #b2, #c2 {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

#b1, #b2, #b3 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}


  /* color player 1: #1ebcc5;
  /* color player 2: red */


/* Styling Circle */
.circle {
  display: inline-block;
  height: 124px;
  border-radius: 100%;
  width:124px;
  border:solid black 2px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

/* Styling the Cross */

  .cross {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    overflow: hidden;
    /* Added to center the Span within the Div */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  
  .cross::before, .cross::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 200%;
    top: 50%;
    left: -50%;
    margin-top: -1px;
    background: #000;
  }
  
 .cross::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
 .cross::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  } 