html, body, div {
    margin: 0;
    padding: 0;
}

html, body {
  height: 100%;
}

#bar{
  display: inline-block;
  height: 140px;
  width: 100%;
  /* text-align: center; */
}

#wrapper{
  display: inline-block;
  width: 100%;
  text-align: center;
}

h1 {
  float: left;
  text-align: left;
  width: 320px;
  margin-left: 120px;
  margin-top: 20px;
  margin-bottom: 0px;
  display: block;
  font-family: 'Acme', sans-serif;
}

#win{
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom:40px;
  font-family: 'Acme', sans-serif;
  font-size: 20px;
}

#computer {
  float: right;
  margin-top: 25px;
  margin-bottom: 0px;
  margin-right: 120px;
  right: 100px;
  display: block;
  height: 30px;
  width: 230px;
  text-align: left;
  font-family: 'Overpass', sans-serif;
}


table {
  display: inline-block;
  position: relative;
  border-collapse: collapse;
  border-spacing: 0px;
  margin: auto auto;
  width: 436px;
  height: 436px;
  padding: 0;
  border:0px;
}

td, tr {
  border: 0;
  padding: 0;
}


.mydiv {
  width: 144px;
  height: 144px;
  text-align: center; 
}


#a2, #b2, #c2 {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

#b1, #b2, #b3 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}


  /* color player 1: #1ebcc5;
  /* color player 2: red */


/* Styling Circle */
.circle {
  display: block;
  height: 124px;
  border-radius: 100%;
  width:124px;
  border:solid #0c3d8d 2px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

/* Styling the Cross */

  .cross {
    position: relative;
    display: block;
    width: 120px;
    height: 120px;
    overflow: hidden;
    /* Added to center the Span within the Div */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  
  .cross::before, .cross::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 200%;
    top: 50%;
    left: -50%;
    margin-top: -1px;
    background: #ff0d13;
  }
  
 .cross::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
 .cross::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  } 


/* Styling the button */
 
#play{
  margin-right: 10px;
  font-family: 'Overpass', sans-serif;
  border:none;
  background-color: rgb(226, 226, 226);
  /* border: 1px solid black; */
  color: black;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  border-radius: 13px
}

#play:hover{
  background-color: rgb(80, 80, 80); 
  color: white;
}

#play:focus {outline:0;}

       /* The switch - the box around the slider */
.switch {
   position: relative;
   display: inline-block;
   width: 35px;
   height: 20px;
 }

 /* Hide default HTML checkbox */
 .switch input {
   opacity: 0;
   width: 0;
   height: 0;
 }
 
 /* The slider */
 .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
   border-radius: 34px;
 }

 .slider:before {
   position: absolute;
   content: "";
   height: 15px;
   width: 15px;
   left: 2px;
   bottom: 3px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
   border-radius: 50%;
 }
 
 input:checked + .slider {
   background-color: black;
 }
 
 input:focus + .slider {
   box-shadow: 0 0 1px black;
 }
 
 input:checked + .slider:before {
   -webkit-transform: translateX(16px);
   -ms-transform: translateX(16px);
   transform: translateX(16px);
 }

 #X{
   color: red;
   font-size: 20px;
 }

#ai{
 margin-left: 74px;
}

 #O{
   color: #0c3d8d;
   font-size: 20px;
 }
 
/* Style the Swithc on - off */ 
.notDisplay{
  display: none;
 }